body	{
	text-align: center;
}

button {
	height: 50px;
	width: 70px;
	background-color: blue;
	border-radius: 10px;
	border-style: solid;
	margin: 20px;
	color: white;
}

button:hover {
	background-color: DodgerBlue;
}

nav a {
	margin: 20px;
	font-size: 30px;
	color: blue;
	text-decoration: none;
}

nav a:hover {
	color: DodgerBlue;
}

input	{
	font-size: 
}

div {
	font-size: 30px;
	color: grey;
}

section	{
	font-size: 20px;
	color: charcoal;
	border: solid 3px grey;
	border-radius: 10px;
	margin:	20px auto;
	width: 60%;
	background-color: Lavender;
}

img {
	margin-top: 10px;
}